/* Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* General */
body , html
    {
        height: 100%;
        width: auto;
        background-color: #e3e3e3;
    }

body
{
    overflow: scroll;
}

*
    {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        font-family: "Montserrat", sans-serif;
    }


/* Navigation Bar */
header
    {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 10%;
        background-color: #131e28;
    }

.logo
    {
        cursor: pointer;
        margin-right: auto;
        height: 35px;
        width: auto;
    }

li, a, button
    {
        font-weight: 500;
        font-size: 20px;
        color: #ffffff;
        text-decoration: none;
        list-style: none;
    }

.nav_links li
    {
        display: inline-block;
        padding: 0px 20px;
    }

.nav_links li a
    {
        transition: all 0.3s ease 0s;
    }

.nav_links li a:hover
    {
        color: rgb(255, 0, 0);
    }


/* Content */
#content
    {
        text-align: center;
        position: relative;
        padding: 20px;
        font-weight: 500;
        font-size: 22px;
        color: black;
        
        left: auto;
        right: auto;
        width: 1000px;
        text-align: center;
    }

#about_us_section
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
    }

.about_us_section_title
    {
        text-align: center;
        font-size: 1.5rem;
        color: black;
        padding: 20px;
    }

.about_us_grid
    {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-auto-rows: minmax(150px, auto);
        grid-gap: 50px;
    }

.about_us_images
    {
        cursor: pointer;
        height: auto;
        width: 300px;
        border-radius: 50%;
        box-shadow: rgb(0, 0, 0) 10px 10px 30px;
    }