/* Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* General */
body , html
    {
        height: 100%;
        width: auto;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
    }

*
    {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        font-family: "Montserrat", sans-serif;
    }


/* Navigation Bar */
header
    {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 10%;
        background-color: rgba(0, 0, 0, 0.3);
    }

.logo
    {
        cursor: pointer;
        margin-right: auto;
        height: 35px;
        width: auto;
    }

li, a, button
    {
        font-weight: 500;
        font-size: 20px;
        color: #ffffff;
        text-decoration: none;
    }

.nav_links li
    {
        display: inline-block;
        padding: 0px 20px;
    }

.nav_links li a
    {
        transition: all 0.3s ease 0s;
    }

.nav_links li a:hover
    {
        color: rgb(255, 0, 0);
    }


/* Content */
#content
    {
        text-align: center;
        position: relative;
        padding: 20px;
        font-weight: 500;
        font-size: 22px;
        color: black;
    }

#about_us
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
        background-color: rgb(133, 133, 133);
        
    }

.about_us_section_title
    {
        text-align: center;
        font-size: 1.5rem;
        color: black;
        padding: 20px;
    }

.about_us_grid
    {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-auto-rows: minmax(150px, auto);
        grid-gap: 50px;
    }

.about_us_content
    {
        justify-content: center;
    }

.about_us_name
    {
        display: flex;
        justify-content: center;
        font-size: 1.3rem;
        font-weight: bolder;
        color: black;
        padding: 20px;
    }

.about_us_text
    {
        display: flex;
        justify-content: center;
        width: 300px;
        text-align: center;
        width: auto;
    }

.about_us_images
    {
        cursor: pointer;
        height: auto;
        width: 200px;
        border-radius: 50%;
        box-shadow: rgb(0, 0, 0) 10px 10px 30px;
    }

.linkedin
    {
        display: flex;
        height: auto;
        width: 70px;
        border-radius: 50%;
        background-color: aqua;
        display: inline-block;
        
    }

.linkedin:hover
    {
        display: flex;
        
        height: auto;
        
        color: #fff;
        background-color: aqua;
    }