/**** Import ****/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/**** General ****/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

body , html {
    height: 100%;
    width: auto;
    background-color: #e3e3e3;
    scroll-behavior: smooth;
}

body {
    overflow: scroll;
}


/**** Navigation Bar ****/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #131e28;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 35px;
    width: auto;
}

li, a, button {
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(255, 0, 0);
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: #cd201f;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width:768px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top:70px;
        gap: 0;
        flex-direction: column;
        background-color: #131e28;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }    

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left:0;
    }
}


/**** Content ****/
#content {
    text-align: center;
    position: relative;
    font-weight: 500;
    font-size: 22px;
    color: black;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#about_us_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.about_us_section_title {
    text-align: center;
    font-size: 1.5rem;
    color: black;
    padding: 20px;
}

.about_us_grid {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 70px;
    float: right;
    justify-content: center;
}

.gallery_item {


}

.about_us_images {
    cursor: pointer;
    height: auto;
    width: 300px;
    border-radius: 20%;
    box-shadow: rgb(0, 0, 0) 10px 10px 30px;
    position:
}

.contact-info ul {
    position: relative;
    bottom: 0px;
    transform: translate(-50%, -50%);
    left: 90%;
    top: 35px;
    padding: 0;
    display: flex;
}
.contact-info ul li {
    list-style: none;
    margin: 0 10px;
}

.contact-info ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

.contact-info ul li .fa:hover {
    color: #ffffff;
}

.contact-info ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.contact-info ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.contact-info ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}

.contact-info ul li:nth-child(2) a:hover {
    background-color: #30363d;
}


/**** Mobile grid view ****/   
@media only screen and (max-width: 1180px) {
    .about_us_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 40px;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }
}

@media only screen and (max-width: 652px) {
    .about_us_grid {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr;
        font-size: 15px;
        justify-content: center;
        text-align: center;
    }
    #content {
        font-size: 20px;
        padding: 20px;
    }
}


/**** Footer ****/
footer {
    padding: 10px 10px 0px 10px;
    height: auto;
    width: 100vw;
    background: #131e28;
    padding-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .ulFooter {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
  }

  .aFooter {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1.5px 0 hsl(0, 5%, 67%)
  }

  .aFooter:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
  }